{% extends "layout.html" %}
{% block content %}
    
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">        
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">                                
                <div class="form-group">
                    <script>
                      function filesize(elem){
                        document.cookie = `filesize=${elem.files[0].size}`
                      }
                    </script>
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file", oninput="filesize(this);") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" >
                 {{ form.submit(class="btn btn-danger") }}
            </div>
        </form>
    </div>
{% endblock content %}
